<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Author" content="Michał Radmacher - michal@radmacher.pl">
	<link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
	<title>Michał Radmacher</title>
</head>
<body>
<ul class="locale">
<% PATHS.keys.each do |lang| %>
  <li class="<%= lang == @lang ? 'locale-current-item' : 'locale-item' %>"><a href="<%= PATHS[lang][@current] %>"><%= lang.to_s %></a>
<%end%>
</ul>
<h1>Michał Radmacher</h1>
<ul class="menu">
<% PATHS[@lang].each do |symbol, path| %>
  <li class="<%= symbol == @current ? 'menu-current-item' : 'menu-item' %>"><a href="<%= path %>"><%= LOCALES[@lang][symbol] %></a></li>
<% end %>
</ul>
<hr />
<%= yield %>
</body>
</html>

